<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Todo</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Add Todo</h1>
    <form action="/tasks/add" method="POST">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <label for="deadline">Deadline:</label>
        <input type="date" id="deadline" name="deadline" required>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>
